/* TODO:
 * use variables
 * use prefers-color-scheme
 * make it look less like something a developer threw together quickly
 */

#game {
	display: grid;
	grid-template-areas: "score" "board";
	justify-content: center;
	margin-top: 10vh;
	margin-left: auto;
	margin-right: auto;

	.pip {
		height: 85%;
		aspect-ratio: 1;
		border-radius: 50%;
		display: inline-block;
		margin: auto;

		&.p1 {
			background-color: white;
		}
		&.p-1 {
			background-color: black;
		}
	}

	#score {
		grid-area: score;
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 50%;
		margin: auto;
		padding-bottom: 1rem;

		.player {
			font-size: 6vh;
			display: flex;
			flex-direction: column;
			text-align: center;

			&.active {
				border: 1px solid yellow;
			}

			.pip {
				width: 6vh;
			}
		}
	}

	#board {
		grid-area: board;
		cursor: not-allowed;
		display: grid;
		background-color: darkgray;
		aspect-ratio: 1;
		width: 64vh;
		font-size: 6vh;
		grid-template-rows: repeat(8, 1fr);

		.row {
			display: grid;
			grid-template-columns: repeat(8, 1fr);

			.square {
				border: 1px solid gray;
				display: flex;
				justify-content: center;

				&.valid:hover {
					border: 1px solid yellow;
					cursor: default;
				}

				a {
					display: grid;
					text-decoration: none;
					height: 100%;
					aspect-ratio: 1;
				}
			}
		}
	}

	#message {
		font-size: 4vh;
		margin-top: 1rem;

		.text {
			display: inline;
		}

		a {
			text-decoration: underline;
			cursor: pointer;
		}
	}
}

